// top header
// mobile
@media only screen {
	#header {
		.topbar {
			border-top-color: $warm-grey-80;
		}
	}
}

// side header
// mobile, tablet, and desktop
@media only screen {
	#header-side {
		.topbar {
			border-top-color: $warm-grey-90;
		}
	}
}

// content
#content {
	margin-top: -10px;
	background-color: $white;
	color: $warm-grey-80;
}

// footer
// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $warm-grey-40;

		.flexcontainer
		{
			border-top-color: $warm-grey-40;
		}

		h3, h4, p {
			color: $white;
		}
			a {
			color: $white;
		}
		a:hover {
			color: $warm-grey-10;
		}
	}
}

// cake-specific

.extra-padding {
		padding-top: 60px;
		padding-bottom: 60px;
}

.grey {
	background-color: $warm-grey-10;
	span.tag {
		background-color: $white;
		color: $warm-grey-80;
	}
}

span.tag {
	padding: 10px 20px 10px 20px;
	margin-right: 10px;
	line-height: 54px;
	background-color: $warm-grey-30;
	color: $white;
	border-radius: 4px;
}

.meta {
	h1, h4 {
		color: $warm-grey-30;
		margin: 0;
	}
}

.related {
	margin-top: 20px;
	padding: 30px 0 20px 0;
	border-top: 1px solid $warm-grey-30;
	border-bottom: 1px solid $warm-grey-30;

	h2 {
		font-size: 24px;
	}

	p {
		font-style: italic;
	}

}


.back-link {
	margin-top: 40px;
}
