body {
  margin: auto;
  width: 100%;
  position: relative; }

img {
  width: 100%; }

h1, h2, h3, h4, p {
  margin-top: 0; }

.bleed {
  margin: auto;
  -webkit-background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.container {
  margin: auto;
  overflow: auto; }

.row {
  clear: both; }

/* for mobile screens */
@media only screen and (min-device-width: 320px) {
  .container .col-1, .container .col-2, .container .col-3, .container .col-4, .container .col-5, .container .col-6, .container .col-7, .container .col-8, .container .col-9, .container .col-10, .container .col-11, .container .col-12 {
    width: 100%; }
  .container .push-1, .container .push-2, .container .push-3, .container .push-4, .container .push-5, .container .push-6, .container .push-7, .container .push-8, .container .push-9, .container .push-10, .container .push-11 {
    margin-left: 0; } }
		
/* for tablet screens */
@media only screen and (min-device-width: 768px) {
  .container {
    width: 720px; }
    .container .col-1 {
      width: 60px; }
    .container .col-2 {
      width: 120px; }
    .container .col-3 {
      width: 180px; }
    .container .col-4 {
      width: 240px; }
    .container .col-5 {
      width: 300px; }
    .container .col-6 {
      width: 360px; }
    .container .col-7 {
      width: 420px; }
    .container .col-8 {
      width: 480px; }
    .container .col-9 {
      width: 540px; }
    .container .col-10 {
      width: 600px; }
    .container .col-11 {
      width: 660px; }
    .container .col-12 {
      width: 720px; }
    .container .push-1 {
      margin-left: 60px; }
    .container .push-2 {
      margin-left: 120px; }
    .container .push-3 {
      margin-left: 180px; }
    .container .push-4 {
      margin-left: 240px; }
    .container .push-5 {
      margin-left: 300px; }
    .container .push-6 {
      margin-left: 360px; }
    .container .push-7 {
      margin-left: 420px; }
    .container .push-8 {
      margin-left: 480px; }
    .container .push-9 {
      margin-left: 540px; }
    .container .push-10 {
      margin-left: 600px; }
    .container .push-11 {
      margin-left: 660px; } }
			
/* for desktop screens */
@media only screen and (min-width: 960px) {
  .container {
    width: 960px; }
    .container .col-1 {
      width: 80px; }
    .container .col-2 {
      width: 160px; }
    .container .col-3 {
      width: 240px; }
    .container .col-4 {
      width: 320px; }
    .container .col-5 {
      width: 400px; }
    .container .col-6 {
      width: 480px; }
    .container .col-7 {
      width: 560px; }
    .container .col-8 {
      width: 640px; }
    .container .col-9 {
      width: 720px; }
    .container .col-10 {
      width: 800px; }
    .container .col-11 {
      width: 880px; }
    .container .col-12 {
      width: 960px; }
    .container .push-1 {
      margin-left: 80px; }
    .container .push-2 {
      margin-left: 160px; }
    .container .push-3 {
      margin-left: 240px; }
    .container .push-4 {
      margin-left: 320px; }
    .container .push-5 {
      margin-left: 400px; }
    .container .push-6 {
      margin-left: 480px; }
    .container .push-7 {
      margin-left: 560px; }
    .container .push-8 {
      margin-left: 640px; }
    .container .push-9 {
      margin-left: 720px; }
    .container .push-10 {
      margin-left: 800px; }
    .container .push-11 {
      margin-left: 880px; } }
			.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  float: left; }

	.padded {
  padding: 10px; }
