body {
	color: #1C1C1C;
}

a {
	color: #1C1C1C;
}

a:hover {
	color: #01A59D;
}

h5{
	color: #1C1C1C;
}

h6, h6 a {
	color: #1C1C1C;
}

h6 a:hover {
	text-decoration: none;
}

hr {
	height:2px;
	background-color: white;
	margin-top: 35px;
}

/* navigation */
#titleArea, .btnBox {
}

#title, .btnText {
	color: #FFFFFF;
}

.nav li a {
	opacity: .3;
}

.nav li a:hover {
	background: inherit;
	opacity:.6;
}

.nav li.active a {
	opacity: 1;
}

/* content and containers */

.content {
	z-index: 0;
}

.page {
	height: 650px; /* background images are 1500, offets are 250 */
	position: relative;
	overflow: hidden;	
	background: no-repeat;
	background-size: cover;			
}

.details{
	height:850px;
}

.sidestory{
	background: #1A1A1A;
	height:350px;
}

.textHalf {
	background: #FFFFFF;
}

.textQuarter {
	background: #FFFFFF;
}


/* add ons */

.white {
	color: #ffffff;
}

.black {
	color: #000000;
}

.grey {
	color: #333333;
	margin-bottom: 0px;
}

.white {
	color: white;
}

.thumb{
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}

.footer {
	height: 380px;
	background-color: #1A1A1A;

}