---
layout: single_layout
---

<script src="javascripts/moment.js"></script>
<script>

$(document).ready(function() {

  $('.parallax').artificialParallax();

  // replace "Today" with today's month/day
  var now = new Date();
  var today = moment().format('MMMM D');
  $('.today').each(function(index,el){
    el.innerText = today;
  });

});

</script>


<section id="content">

  <!-- introduction -->
	<div class="bleed parallax">
		<img src="images/aidcake-main.jpg" class="parallax-background">
		<div style="height:480px;">
    </div>
  </div>

  <div class="flexcontainer extra-padding">
    <div class="col-2">
      <div class="padded meta">
        <h1>2030</h1>
        <h4>&#35;drones</h4>
        <h4>&#35;3Dprinting</h4>
      </div>
    </div>
    <div class="col-9 left-1">
      <div class="padded">
        <h1>AidCakes used by UNICEF to avert mass-hunger in drought-striken areas</h1>
  			<p>Global catastrophe was narrowly averted by the UNICEF aid cakes developed at the onset of the megadrought.</p>
        <p>The development of drought-ready drywheat came just in time for the monocorn collapse. Even in areas where fresh water is still available, global economics led local farmers to plant drywheat and ferment it for the fuel used to transport water to areas able to buy it.</p>
        <p>UN-funded research resulted in a nano-milling process that allows drywheat flour and insect* proteins to form a concentrated cake base that hydrates to a doughy texture even with saltwater [Fig. 01]. Coastal populations below the arctic circle have grown dependant on these aid cakes, keeping the few capable milling factories at capacity.</p>
        <p>Drone drops of new shipments onto coastal waters [Fig. 02] create quite the spectacle, as little red meals plump and float [Fig. 03], waiting for boats** to come harvest them and restock the urban distribution centers.</p>
        <p class="footnote">* It is desirable that the insects grown for aid cake production be engineered to replace the pollinators of pre-collapse agriculture, but efforts to recreate the “bee” have been unsuccessful.</p>
        <p class="footnote">** In most cities, the cake-harvesting craft are poetically re-purposed from the wild-sea era, when they harvested freely-available food sources that just grew in the oceans!</a>
        <div class="back-link">
          <a href="index.html">&lt; back to all futures</a>
        </div>
      </div>
    </div>
	</div>



</section>
