---
layout: single_layout
---

<script src="javascripts/moment.js"></script>
<script>

$(document).ready(function() {

  $('.parallax').artificialParallax();

  // replace "Today" with today's month/day
  var now = new Date();
  var today = moment().format('MMMM D');
  $('.today').each(function(index,el){
    el.innerText = today;
  });

});

</script>


<section id="content">

  <!-- introduction -->
	<div class="bleed parallax">
		<img src="images/cakenet-main.jpg" class="parallax-background">
		<div style="height:480px;">
    </div>
  </div>

  <div class="flexcontainer extra-padding">
    <div class="col-2">
      <div class="padded meta">
        <h1>2018</h1>
        <h4>&#35;drones</h4>
        <h4>&#35;3Dprinting</h4>
      </div>
    </div>
    <div class="col-9 left-1">
      <div class="padded">
        <h1>CakeNet<span class="tm">&trade;</span> makes cake immediately available to coastal urbanites</h1>
  			<p>CakeNet<span class="tm">&trade;</span> is the latest in a string of Silicon Valley startups that aims to ephemeralize food. Download the app (available for Apple Watch and Google Wear) and then use your watch to place an order. If you're in Seattle, San Francisco, or New York, use a deep press to specify SpeedCake<span class="tm">&trade;</span>.</p>
        <img src="images/cakenet-one.jpg">
        <p>The CakeNet<span class="tm">&trade;</span> oven at your local bakery will immediately prepare a cake based not only on your pre-specified preferences, but also optimized for your current nutritional needs. Depending on your CWS (current wellness score), you might receive a cake with immune boosters or stress reducers. Operators of heavy equiment should avoid stress reducers, as the primary ingredient is marijuana.</p>
        <img src="images/cakenet-two.jpg">
        <p>Within 30 minutes, look for an Uber driver to deliver your cake. Surge pricing charges may apply.</p>
        <p>If you have chosen SpeedCake<span class="tm">&trade;</span>, an Amazon Drone will deliver your cake within 15 minutes. Keep your Watch with you and don't go too deep indoors so the drone can find you!</p>
        <img src="images/cakenet-three.jpg">
        <div class="related">
          <h2>Related news</h2>
          <p>Several participants of a group calling itself the Cult of the Dead Cake are being held on hacking charges. The California Department of Justice alleges they were behind the recent compromise of CakeNet<span class="tm">&trade;</span> supply systems which exposed thousands of area families to measles vaccines against their wishes.</p>
        </div>
        <div class="back-link">
          <a href="index.html">&lt; back to all futures</a>
        </div>
      </div>
    </div>
	</div>



</section>
