---
layout: single_layout
---

<script src="javascripts/moment.js"></script>
<script>

$(document).ready(function() {

  $('.parallax').artificialParallax();

  // replace "Today" with today's month/day
  var now = new Date();
  var today = moment().format('MMMM D');
  $('.today').each(function(index,el){
    el.innerText = today;
  });

});

</script>


<section id="content">

  <!-- introduction -->
	<div class="bleed parallax">
		<img src="images/cakevine-main.jpg" class="parallax-background">
		<div style="height:480px;">
    </div>
  </div>

  <div class="flexcontainer extra-padding">
    <div class="col-2 meta">
        <h1>2040</h1>
        <h4>&#35;GMO</h3>
        <h4>&#35;feeding9billion</h3>
    </div>
    <div class="col-9 left-1">
      <h1>Staying ahead of pests and diseases – are CakePops are the new cookies?</h1>
			<p>The CakePop Vine™ brings mouth watering cake to the masses.</p>
      <p>Scientists have engineered vines to help feed the world’s insatiable desire for sweets.</p>
      <p>At least five distinct CakePop Vine™ regions across the world have begun producing regional varieties. Although based on the same genetic stock, their unique growing conditions produce notably different cakepop fruit.</p>
      <p>Foodtech investment funds are quickly shifting millions into these growing startups, hoping to hedge against concerns of a saltine orchard bubble.</p>
      <div class="related">
        <h2>Related news</h2>
        <p>During a Goat’s Milk hackathon in Amsterdam, a group of hackers developed Grade 1 level icing, with heretofore unseen complexity levels. Despite no commercialization plans, goat milk futures are skyrocketing.</p>
      </div>

      <div class="back-link">
        <a href="index.html">&lt; back to all futures</a>
      </div>
    </div>
	</div>



</section>
