---
layout: side_layout
---

<script src="javascripts/moment.js"></script>
<script>

$(document).ready(function() {

  $('.parallax').artificialParallax();

  // replace "Today" with today's month/day
  var now = new Date();
  var today = moment().format('MMMM D');
  $('.today').each(function(index,el){
    el.innerText = today;
  });

});

</script>


<!-- page content -->
<section id="content">
		
	<div class="bleed parallax">
		<img src="images/img_intro.jpg" class="parallax-background">
		<div class="parallax-foreground bleed">
			<div class="flexcontainer">
				<div class="col-6 right-4" style="margin-top:50px">
					<div class="padded" style="height:80px;">
						<h1 class="black">The Future <br>of Cake</h1>
					</div>
				</div>
				<div class="col-6 left-6">
					<div class="padded" style="height:532px;">
						<p>Strategic agencies often apply their skills to imagining possible scenarios their clients might prepare for. These speculative futures have become an important technique for educating clients about the technologies and social trends of our times.</p>
						<p>As a benevolent service to the world, these corporate prophets sometimes apply their valuable resources to apply  design thinking to public considerations of social concerns. Most of the important subjects of our time benefit from some of this treatment, such as communications, selecting TV entertainment, transportation, shopping for clothes, energy production, and interacting with slabs of glass.</p>
						<p>Despite this noble history, scant attention has been paid to the critical issue of dessert. In hopes of remedying this oversight, The Artificial invites you to dig deeper into the Future of Cake.</p>
					</div>
				</div>
			</div>
		</div>		
	</div>
	
	<!-- cake net -->
	<div id="one" div class="bleed parallax" data-menu-offset="-75">
		<img src="images/img_dronedelivery-main.jpg" class="parallax-background">
		<div class="parallax-foreground bleed">
			<div class="flexcontainer">
				<div class="col-5 left-7">
					<div class="padded" style="height:532px;">
						<h2 class="headline">CakeNet&trade;</h2>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="flexcontainer">
		<div class="col-6 left-1">
			<div class="col-2">
				<div class="padded">
					<h4>Fig. 01</h4>
					<div class="thumb"><img src="images/img_dronedelivery-one.jpg"></div>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h4>Fig. 02</h4>
					<div class="thumb"><img src="images/img_dronedelivery-two.jpg"></div>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<h4>Fig. 03</h4>
					<div class="thumb"><img src="images/img_dronedelivery-three.jpg"></div>
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="padded">
				<p>Using your Watch, tap the cake icon. In select urban areas, use a deep press to specify SpeedCake&trade; [Fig. 01].</p>
				<p>Be sure to allow the CakeNet&trade; app access to your biometrics and activity data, so we can engineer the best possible cake for you.</p>
				<p>The CakeNet&trade; oven at your local bakery will immediately prepare a cake just for you. The thin layers are a result of our CakeNet&trade; printing process, so you know this cake has been optimized for your current nutritional needs [Fig. 02].</p>
				<p>Within 30 minutes, look for an Uber driver* to deliver your cake [Fig. 03]!</p>
				<p>If you have chosen SpeedCake&trade;, an Amazon Drone will deliver your cake within 15 minutes. Keep your Watch with you and don't go too deep indoors so the drone can find you!</p>
        <small>
          <p>* Surge pricing charges may apply.</p>
        </small>
      </div>
		</div>
	</div>
	
	<div class="bleed sidestory">
		<div class="flexcontainer">
			<div class="col-9 right-1">
				<div class="padded">
					<h2 class="date"><span class="today">Today</span>, 2018</h2>
					<p>Several participants of a group calling itself the Cult of the Dead Cake are being held on hacking charges. The California Department of Justice alleges they were behind the recent compromise of CakeNet™ supply systems involuntarily exposed thousands of area families to measles vaccines.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- bakerbot -->
	<div id="two" div class="bleed parallax" data-menu-offset="-75">
		<img src="images/img_bakerbot-main.jpg" class="parallax-background">
		<div class="parallax-foreground bleed">
			<div class="flexcontainer">
				<div class="col-5 left-7">
					<div class="padded" style="height:532px;">
						<h2 class="headline">BakerBot&trade;</h2>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="flexcontainer">
		<div class="col-6 left-1">
			<div class="col-2">
				<div class="padded">
					<h4>Fig. 01</h4>
						<div class="thumb"><img src="images/img_bakerbot-one.jpg"></div>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h4>Fig. 02</h4>
						<div class="thumb"><img src="images/img_bakerbot-two.jpg"></div>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<h4>Fig. 03</h4>
						<div class="thumb"><img src="images/img_bakerbot-three.jpg"></div>
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="padded">
<p>The best way to improve yourself is through positive reinforcement. Reward yourself every Cake with BakerBot™.</p>
        <p>Setting up your BakerBot™ oven is easy. After a quick 9-step process to connect to your home network<sup>*</sup>, simply connect your social, fitness tracking, bank account, work productivity measurement, and medical record accounts. Then you’re ready to choose from the self-improvement goals our BakerCoach™ algorithms suggest, insert dough cartridges<sup>**</sup>, and begin the journey to a better you!</p>
        <p>BakerCoach™ will use your social media profiles to ensure you get precisely the kind of cake that’s right for you, including the flavor brands being discussed by your friends. You’ll never feel left out at the watercooler because you haven’t tried the latest.</p>
        <p>The included smart BakerKnife™ will use laser projection and haptic guidance to ensure you slice off only as much cake as you deserve. We all have bad Cakes, so when you don’t deserve reward, the BakerBot™ will give you the extra push you need by still letting you see and smell a delicious cake through the window before recycling it.</p>
        <small>
          <p>* Most popular home networks are supported, including those by Honeywell, Apple, Whirlpool, Google, Philips, Bosch, Microsoft, and GE.</p>
          <p>** Only authentic BakerDough&trade; is supported. Attempting to insert third party cartridges will automatically void your BakerCoach&trade; subscription.</p>
        </small>
			</div>
		</div>
	</div>
	
	<div class="bleed sidestory">
		<div class="flexcontainer">
			<div class="col-9 right-1">
				<div class="padded">
					<h2 class="date"><span class="today">Today</span>, 2025</h2>
					<p>North American sales of BakerBot&trade; ovens have been temporarily suspended pending recertification in the Federal Nothing-to-Hide program. Mainstream media reports that the sprinkles placement algorithms are easily subverted must be investigated to ensure the integrity of CitizenID encoding and address concerns that cakes have been used as a medium for illegally encrypted messages.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- aid cake -->
	<div id="three" div class="bleed parallax" data-menu-offset="-75">
		<img src="images/img_cakeaid-main.jpg" class="parallax-background">
		<div class="parallax-foreground bleed">
			<div class="flexcontainer">
				<div class="col-5 left-7">
					<div class="padded" style="height:532px;">
						<h2 class="headline">Aid Cake</h2>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="flexcontainer">
		<div class="col-6 left-1">
			<div class="col-2">
				<div class="padded">
					<h4>Fig. 01</h4>
						<div class="thumb"><img src="images/img_cakeaid-one.jpg"></div>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h4>Fig. 02</h4>
						<div class="thumb"><img src="images/img_cakeaid-two.jpg"></div>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<h4>Fig. 03</h4>
						<div class="thumb"><img src="images/img_cakeaid-three.jpg"></div>
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="padded">
				<p>Global catastrophe was narrowly averted by the UNICEF aid cakes developed at the onset of the megadrought.</p>
				<p>The development of drought-ready drywheat came just in time for the monocorn collapse. Even in areas where fresh water is still available, global economics led local farmers to plant drywheat and ferment it for the fuel used to transport water to areas able to buy it.</p>
				<p>UN-funded research resulted in a nano-milling process that allows drywheat flour and insect<sup>*</sup> proteins to form a concentrated cake base that hydrates to a doughy texture even with saltwater. Coastal populations below the arctic circle have grown dependant on these aid cakes, keeping the few capable milling factories at capacity.</p>
				<p>Drone drops of new shipments onto coastal waters create quite the spectacle, as little red meals plump and float, waiting for boats<sup>**</sup> to come harvest them and restock the urban distribution centers.</p>
        <small>
          <p>* It is desirable that the insects grown for aid cake production be engineered to replace the pollinators of pre-collapse agriculture, but efforts to recreate the “bee” have been unsuccessful.</p>
          <p>** In most cities, the cake-harvesting craft are poetically re-purposed from the wild-sea era, when they harvested freely-available food sources that just grew in the oceans!</p>
        </small>
			</div>
		</div>
	</div>
	
	<div class="bleed sidestory">
		<div class="flexcontainer">
			<div class="col-9 right-1">
				<div class="padded">
					<h2 class="date"><span class="today">Today</span>, 2060</h2>
					<p>It is said that pre-collapse cakes were a luxury available in a wide variety of “flavors”.</p>
					<p>Holders of Apple iCards or Xiaomi MiCitizenship are eligible to purchase cakemasks, which augment the cake eating experience with olfactory and visual stimuli. UX historians believe these recreations are a reasonable facsimile of legendary experiences such as “chocolate” and “cinnamon”.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- cake vine -->
	<div id="four" div class="bleed parallax" data-menu-offset="-75">
		<img src="images/img_cakevine-main.jpg" class="parallax-background">
		<div class="parallax-foreground bleed">
			<div class="flexcontainer">
				<div class="col-5 left-7">
					<div class="padded" style="height:532px;">
						<h2 class="headline">CakePop Vine</h2>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="flexcontainer">
		<div class="col-6 left-1">
			<div class="col-2">
				<div class="padded">
					<h4>Fig. 01</h4>
						<div class="thumb"><img src="images/img_cakevine-one.jpg"></div>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h4>Fig. 02</h4>
						<div class="thumb"><img src="images/img_cakevine-two.jpg"></div>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<h4>Fig. 03</h4>
						<div class="thumb"><img src="images/img_cakevine-three.jpg"></div>
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="padded">
				<p>The CakePop Vine&trade; brings mouth watering cake to the masses.</p>
				<p>Scientists have engineered vines to help feed the world’s insatiable desire for sweets.</p>
				<p>At least five distinct CakePop Vine&trade; regions across the world have begun producing regional varieties. Although based on the same genetic stock, their unique growing conditions produce notably different cakepop fruit.</p>
        <p>Foodtech investment funds are quickly shifting millions into these growing startups, hoping to hedge against concerns of a saltine orchard bubble.</p>
			</div>
		</div>
	</div>
	
	<div class="bleed sidestory">
		<div class="flexcontainer">
			<div class="col-9 right-1">
				<div class="padded">
					<h2 class="date"><span class="today">Today</span>, 2045</h2>
					<p>During a Goat’s Milk hackathon in Amsterdam, a group of hackers developed Grade 1 level icing, with heretofore unseen complexity levels. Despite no commercialization plans, goat milk futures are skyrocketing.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- cakewear -->
	<div id="five" div class="bleed parallax" data-menu-offset="-75">
		<img src="images/img_cakewear-main.jpg" class="parallax-background">
		<div class="parallax-foreground bleed">
			<div class="flexcontainer">
				<div class="col-5 left-7">
					<div class="padded" style="height:532px;">
						<h2 class="headline">Cakewear</h2>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="flexcontainer">
		<div class="col-6 left-1">
			<div class="col-2">
				<div class="padded">
					<h4>Fig. 01</h4>
						<div class="thumb"><img src="images/img_cakewear-one.jpg"></div>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h4>Fig. 02</h4>
						<div class="thumb"><img src="images/img_cakewear-two.jpg"></div>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<h4>Fig. 03</h4>
						<div class="thumb"><img src="images/img_cakewear-three.jpg"></div>
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="padded">
				<p>Inventor Elon Shingy continues to strengthen his legacy of world-changing products, this time in cakewear bands.</p>
				<p>The greatest minds of our time have been working to address crumbling, staleness, and mold. But their small, iterative improvements to baking techniques have been disrupted with E.S.’s technique to repair damage.</p>
				<p>His new Shingy Shield is an inexpensive powder of disposable nanorobots that quickly learn together how to provide full coverage of band they have been placed on. Without interfering with the usual nutrient dosing through the cake-skin interface, these nanites detect damage to cake and even sense skin biometrics to predict problems and summon a swarm to strengthen the cakewear band.</p>
				<p>E.S. reports that collaborations with major health insurers are underway to use the archived biodata in spent nanites to better serve customers.</p>
			</div>
		</div>
	</div>
	
	<div class="bleed sidestory">
		<div class="flexcontainer">
			<div class="col-9 right-1">
				<div class="padded">
					<h2 class="date"><span class="today">Today</span>, 2050</h2>
					<p>Shingy Shield might also be used for authentication. Every wearer’s nanites learn to arrange in unique patterns that can be scanned, and some security checkpoints are testing methods to detect this signature and speed passage between freedom zones.</p>
				</div>
			</div>
		</div>
	</div>
		
</section>
