---
layout: single_layout
---

<script src="javascripts/moment.js"></script>
<script>

$(document).ready(function() {

  $('.parallax').artificialParallax();

  // replace "Today" with today's month/day
  var now = new Date();
  var today = moment().format('MMMM D');
  $('.today').each(function(index,el){
    el.innerText = today;
  });

});

</script>


<section id="content">

  <!-- introduction -->
	<div class="bleed parallax">
		<img src="images/introduction-main.jpg" class="parallax-background">
		<div class="parallax-foreground bleed">
			<div class="flexcontainer extra-padding" style="min-height:600px;">

        <div class="col-4">
					<div class="padded">
            <h1 class="black">The Future of Cake</h1>
            <h3>by <a href="http://www.theartificial.nl">The Artificial</a></h3>
          </div>
				</div>

				<div class="col-6 left-2">
					<div class="padded">
						<p>Strategic agencies often apply their skills to imagining possible scenarios their clients might prepare for. These speculative futures have become an important technique for educating clients about the technologies and social trends of our times.</p>
						<p>As a benevolent service to the world, these corporate prophets sometimes apply their valuable resources to apply  design thinking to public considerations of social concerns. Most of the important subjects of our time benefit from some of this treatment, such as communications, selecting TV entertainment, transportation, shopping for clothes, energy production, and interacting with slabs of glass.</p>
						<p>Despite this noble history, scant attention has been paid to the critical issue of dessert. In hopes of remedying this oversight, The Artificial invites you to dig deeper into the Future of Cake.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- cakenet -->
  <div class="flexcontainer extra-padding">
    <div class="col-5">
      <div class="padded">
        <a href="cakenet.html"><img src="images/cakenet-preview.jpg"></a>
      </div>
    </div>
    <div class="col-7">
      <div class="padded">
        <h3><span class="today">Today</span>, 2018</h3>
        <h2><a href="cakenet.html">CakeNet™ makes cake immediately available to coastal urbanites</a></h2>
      </div>
      <div class="padded">
        <span class="tag">&#35;drones</span>
        <span class="tag">&#35;3Dprinting</span>
      </div>
    </div>
  </div>

	<!-- bakerbot -->
  <div class="bleed grey">
    <div class="flexcontainer extra-padding">
      <div class="col-12">
        <div class="padded">
          <h3><span class="today">Today</span>, 2020</h3>
          <h2><a href="bakerbot.html">New years resolutions made reality by kitchen robot dubbed BakerBot™</a></h2>
        </div>
        <div class="padded">
          <span class="tag">&#35;quantifiedself</span>
          <span class="tag">&#35;3Dprinting</span>
          <span class="tag">&#35;lasers</span>
        </div>
      </div>
    </div>
  </div>

  <!-- aidcake -->
  <div class="flexcontainer extra-padding">
    <div class="col-7">
      <div class="padded">
        <h3><span class="today">Today</span>, 2030</h3>
        <h2><a href="aidcake.html">AidCakes used by UNICEF to avert mass-hunger in drought-striken areas</a></h2>
      </div>
      <div class="padded">
        <span class="tag">&#35;drones</span>
        <span class="tag">&#35;3Dprinting</span>
      </div>
    </div>
    <div class="col-5">
      <div class="padded">
        <a href="aidcake.html"><img src="images/aidcake-preview.jpg"></a>
      </div>
    </div>
  </div>

  <!-- insectcake -->
  <div class="bleed grey">
    <div class="flexcontainer extra-padding">
      <div class="col-12">
        <div class="padded">
          <h3><span class="today">Today</span>, 2024</h3>
          <h2><a href="insectcake.html">Reimagining insect protien: using virtual reality to take us back to the days of plenty</a></h2>
        </div>
        <div class="padded">
          <span class="tag">&#35;eatinginsects</span>
          <span class="tag">&#35;virtualreality</span>
        </div>
      </div>
    </div>
  </div>

  <!-- cakevine -->
  <div class="flexcontainer extra-padding">
  <div class="col-5">
    <div class="padded">
      <a href="cakevine.html"><img src="images/cakevine-preview.jpg"></a>
    </div>
  </div>
    <div class="col-7">
      <div class="padded">
        <h3><span class="today">Today</span>, 2040</h3>
        <h2><a href="cakevine.html">Staying ahead of pests and diseases – are CakePops are the new cookies?</a></h2>
      </div>
      <div class="padded">
        <span class="tag">&#35;gmo</span>
        <span class="tag">&#35;feeding9billion</span>
      </div>
    </div>
  </div>

  <!-- cakewear -->
  <div class="bleed grey">
    <div class="flexcontainer extra-padding">
      <div class="col-12">
        <div class="padded">
          <h3><span class="today">Today</span>, 2050</h3>
          <h2><a href="cakewear.html">Let them wear cake: Silicon Valley shows us new fashions for the 1% at this year’s CES</a></h2>
        </div>
        <div class="padded">
          <span class="tag">&#35;wearables</span>
          <span class="tag">&#35;nanotech</span>
        </div>
      </div>
    </div>
  </div>

</section>
